.products {

    width: 100%;
    height: 100%;
    scroll-margin-top: 80px;
    padding : 0 20px;
    
}

.productsList {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    flex: 1;
}
.productsHeader {

    margin: 40px 0;
}

.productsHeader h2{
    
    text-align: center;
    font-weight: 700;
    margin: 0;
    font-size: clamp(1rem, 15vw, 5rem);
}

.productsHeaderSub {
    color: var(--color-pink);
}

@media (min-width: 728px) {
    .productsList {
        flex-direction: row;
        flex-wrap: wrap;
    }
}