
/* 

    "Are you a member" Component

*/

.member {

    background-color: var(--color-flat);
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
}

.member .teaser {
    text-align: center;
    padding: 20px;
}

.member .teaser p {
    font-size: 18px;
    font-weight: 700;
    padding: 40px 0;
}

.member .teaser .headline
{
    font-size: 54px;
    font-weight: 700;
}

.member .teaser .btn {

    background-color: var(--color-pink);
    border : 0;
    padding: 22px 40px;
    border-radius: 40px;
    font-weight: 700;
    display: block;
    color: #fff;
}

.member .reviews {

    display: none;

}









@media (min-width: 728px) {
    .member .reviews {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
}