.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  margin-top: 80px;

   
  background-color: #fff;
 
}


.box {
  background-color: blue;
  padding: 20px;
}

.box-red {
  background-color: red;
  padding: 20px;
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) {
  .box {
    background-color: green;
  }
}

@media (min-width: 901px) {
  .box {
    background-color: black;
    color: #fff;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}
