/* 

    Footer Component Styling

*/

.footer {
    background-color: var(--color-grey);
    height: 243px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 

    Socials

*/
.social {

    margin-top: 37px;
    display: flex;

}

.icon {
    color: #fff;
    font-size: clamp(2.5rem, 4.5vw, 4rem);
    margin: 0 10px;
}

.icon:hover{
    
    color: var(--color-pink);
    cursor: pointer;
    
}

/* 

    Adress

*/
.address {

    margin: 37px 0;

}

.address a{

    display: block;
    text-align: center;
    font-size: 14px;
    margin: 5px 0;
    
}

.address a:hover{
    
    color: var(--color-pink);
    
}